*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

/* body{

    height: 100vh;
} */

/* Conteiner*/

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: url(./Assets/Background.png) no-repeat center /cover ;
}

/*CARD*/

.card{

    width: 500px;
    height: 650px;
    display: flex;
    flex-direction: column;
    border-radius: 3%;
    margin: 0 auto;
    gap: 16px;
    background: white;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 32px;
    border-radius: 3% 3% 0 0;
    color: white;
    font-size: 1.1rem;
    
    

    background:#2355F2 url(./Assets/Pattern.png) no-repeat center /cover;
}

h1{
    padding: 32px;
    text-align: center;
    line-height: 2.5rem;
}

/*SUB-SECTION*/

.sub-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem ;
    
}

.sub-title{
    text-align: center;
    margin-bottom: 1rem;
}

input{

    width: 258px;
    height: 43px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: rgba(245, 247, 250, 1);

}

::placeholder{

    padding: 10px;
    color: rgb(203, 203, 203);
    
    
}

button{
    width: 114px;
    height: 43px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background: #2355F2;
}

span{
    display: block;
    width: 384px;
    padding-left:5px ;
    margin-bottom: 1rem;
    color: rgb(162, 161, 161);
    font-size: 0.9rem;
    text-align: left;
}

.user{
    display: flex;
    gap: 0.6rem;
    
}

.footer{
    text-align: center;
    margin-top: 0.5rem;
    
    
}